.bubble {
    padding: 8px 12px;
    border-radius: 16px;
}

.user-bubble {
    background-color: #729fcf;
    color: white;
}

.ai-bubble {
    background-color: #eeeeec;
    color: #2e3436;
}

list {
    background-color: #1d1d1d;
    min-width: 200px;
    padding: 8px;
}

list row {
    padding: 4px;
}